h1 {
	color:black;
	font:60px;
	font-weight:700;
	background-color:#CBAEB1;
}

Usu{
	display:block;
	with:100%;
	margin:0 0 30px 0;
	float:none;
}
menu, thead{
	color:gray;
	background-color:white;
}
