div {
	color:black;
	font:58px;
	font-weight:500;
	background-color:#8e8c7a;
	font-size:9;
	}
	

Usu{
	display:block;
	with:100%;
	margin:0 0 30px 0;
	float:none;
}
menu, thead{
	color:green;
	background-color:white;
}
h2{
	color:black;
	font:50px;
	font-weight:500;
	font-size:2;
	
}