pre, p{
	font-size:1.5m;
	color: #FE7F88;
	background-color: transparent;
}
p {
	color:red;
	background-color: black;
}

Usu{
	display:block;
	with:100%;
	margin:0 0 30px 0;
	float:none;
}
menu, thead{
	color:gray;
	background-color:white;
}
